.container {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
}

.divided-line {
    border: none;
    height: 3px;
    color: #7d97ad;
    background-color: #7d97ad
}

.logo {
    width: 100px;
    margin-top: 15px;
}

header h1,
header h4 {
    font-weight: 300;
}

header h1 {
    font-size: 50px;
}

header h4 {
    font-size: 25px;
}
